# Node
frontend/node_modules/

# Python
backend/__pycache__/
backend/venv/
*.pyc

# Environment variables
backend/.env

backend/*.db-journal
backend/*.db-wal
backend/*.db-shm

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
