# Security
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# --- SQLAlchemy ---
SYSTEM_DATABASE_URL=sqlite:////data/system_database.db
GAME_DATABASE_URL=sqlite:////data/game_database.db

# --- SQLite ---
SYSTEM_SQLITE_PATH=/data/system_database.db
GAME_SQLITE_PATH=/data/game_database.db

# Environment
ENV=production

# Admin
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_SENDER_NAME=
SMTP_USER=
SMTP_PASSWORD=
